{% extends "base_layout.html" %}

{% block head %}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px; height:500px;" id="currImg" src="/static/dataset/{{ src }}" alt="{{ imgId }}">

    <div style="display: block; margin-left: auto; margin-right: auto; width: 500px; height:30px;">
      <button style="display: inline; width: 200px; height: 30px; margin: 20px;" class="btn"><i class="fa fa-thumbs-up" onclick="adjustRecommendation(1)"></i></button>
      <button style="display: inline; width: 200px; height: 30px; margin: 20px;;" class="btn"><i class="fa fa-thumbs-down" onclick="adjustRecommendation(-1)"></i></button>
    </div>
    <script>
    function adjustRecommendation(adjVal) {
        var imgRef = document.getElementById("currImg");
        var id = imgRef.getAttribute("alt");
        var http = new XMLHttpRequest();
        var url = '/update_recomm?imgId='+id+'&adjVal='+adjVal;
        http.open('GET', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
              result = JSON.parse(http.responseText);
              imgRef.alt = result[0];
              imgRef.src = '/static/dataset/' + result[1];
            }
        }
        http.send();
    }
    </script>
{% endblock %}